.Welcome {
  color: #fff;
  width: 75%;
}

.Welcome h2 {
  margin-top: 7vh;
  text-align: center;
}

.Welcome p {
  margin-top: 5vh;
}

.Welcome ol {
  margin-left: 20px;
}

.Welcome ol li {
  margin-top: 10px;
}

@media all and (min-width: 800px) {
  .Welcome {
    width: 40%;
  }
}