/* color pallette = brown - #524438, orange - #ff9d1e, gray - #B9A89A, seafoam green - #00D5B6, green - #009B82 */

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-color: #232323;
}

/* main {
  height: 100vh;
} */

.reg-btn {
  border: none;
  background-color: #00BCE1;
  padding: 10px;
  border-radius: 6px;
}
