header {
  display: flex;
  background-color: #FF35C9;
  box-shadow: 0px 2px 5px #555;
}

header a {
  color: #fff;
  text-decoration: none;
}

.header-left, .header-right {
  flex: 1;
  display: flex;
  padding: 25px;
  align-items: center;
}

.header-left {
  justify-content: flex-start;
}

.header-left a:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.07);
}

.header-right {
  justify-content: flex-end;
}

.login-signup-list {
  display: flex;
  list-style-type: none;
}

.login-text {
  padding-right: 15px;
}

.login-text:hover, .signup-text:hover, .logout-text:hover {
  transition: all .1s ease-in-out;
  transform: scale(1.07);
}