.header {
  display: flex;
  background-color: #ff35c9;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 2px;
}

.header_left,
.header_right {
  display: flex;
  padding: 5px 20px;
  align-items: center;
}

.header_left {
  justify-content: flex-start;
  flex: 0.5;
}

.header_right {
  justify-content: flex-end;
  flex: 1.5;
}

.header_right li {
  text-align: center;
}

.login_signup_list {
  display: flex;
  list-style-type: none;
}

.login_text {
  padding-right: 15px;
}

.logout_text {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.login_text a:hover,
.signup_text a:hover,
.logout_text a:hover {
  border-bottom: 1px solid #fff;
  transition: all 0.1s ease-in-out;
}
